/* styles.css */

/* General Body */
body {
    background-color: #192c46;  /* Dark Sea Blue background */
    color: #e0e1dd;  /* Light Gray text */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  h1, h2 {
    color: #e0e1dd;  /* Light Gray for headers */
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  /* Styling for the squares */
  .square {
    flex: 1 1 calc(25% - 1rem);  /* 4 squares in a row */
    height: 250px;  /* Adjust the height to make the squares rectangular */
    background-color: #151c2b;  /* Dark Blue for squares */
    color: #e0e1dd;  /* Light Gray text */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .square:hover {
    background-color: #3a537e;  /* Steel Blue for hover */
    transform: scale(1.1);
  }
  
  /* Styling for centered content */
  .centered-content {
    text-align: center;
  }
  
  .centered-content h4 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #e0e1dd;  /* Light Gray for header */
  }
  
  .centered-content p {
    margin: 0.5rem 0;
    font-size: 14px;
    color: #e0e1dd;  /* Light Gray text */
  }
  
  /* Contact Info */
  h3 {
    color: #e0e1dd;  /* Light Gray for section headers */
    font-size: 1.2rem;
  }
  
  a {
    color: #8aafdf;  /* Light Steel Blue links */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Optional: Adjust for smaller screens */
  @media (max-width: 768px) {
    .square {
      flex: 1 1 45%;  /* Adjust for smaller screens, make them 2 per row */
      height: 200px;
    }
  }
  